body {
    padding-top: 56px;
  }
  
h1{
    font-family: 'Trade Winds';
}

.h1head{
    font-weight: 700;
    margin-top: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2{
    font-family: 'Trade Winds';
}
h3{
    font-family: 'Trade Winds';
}
p{
    font-family: 'Roboto';
}
.masthead{
    padding-top: calc(6rem +74px);
    padding-bottom: 6rem;
}
.masthead-avatar{
    width: 15rem;
}

.masthead-heading{
    font-size: 4rem;
    line-height:3.5rem;
}

.divider-custom{
    margin: 1.25rem 0 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checks{
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle; 
}
.trade{
    font-family: 'Trade Winds';
    text-align: center;
}
  
  .p.checks{
    font-family: 'Trade Winds';
  }
  title{
    font-family: 'Trade Winds';
  }


  .carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.carousel-caption h3 {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.item {
    position:relative;
}

.slidetext{
    padding-top: 100px;
    text-align: center;
}
p.slidetext{
    font-size: 150%;
}

.slidetext2{
    padding-top: 150px;
    text-align: center;
    color: black;
}
p.slidetext2{
    font-size: 150%;
    color: black;
}
.slidedwarf{
    color: black;
}

.slidetext3{
    float: left;
    padding-top: 50px;
    text-align: center;
    
}
p.slidetext3{
    font-size: 150%;
}

.slidewizard{
    float:left;
}

.buybutton{
    align-items: center;
}

.banner{
    background-image: url("../img/banner_1.jpg");
    background-repeat: no-repeat; 
    background-position: center; /*fa que la foto sempre quedi centrada */ 
    background-size: cover; /* el cover agafa la totalitat de la pantalla en horitzontal */ 
    color: whitesmoke;
    font-size: 100%;
}

.h1jumbo{
    font-size: 350%;
}

.visits{
    font-size: 100%;
}